<div class="d-flex align-items-center">
  <h1>掲示板一覧</h1>
  <div class="ml-auto boards__linkBox">

    <%= search_form_for @q do |f| %>
      <%= f.label :name_or_title, "キーワード検索" %>
      <%= f.search_field :name_or_title_cont %>
      <%= f.submit "検索" %>
    <% end %>
    
  </div>
</div>
<% if flash[:notice] %>
  <div class="alert alert-danger"><%= flash[:notice] %></div>
<% end %>
<br>
<table class="table table-hover boards__table">
  <thead class="thead-dark">
    <tr>
      <th>タイトル</th>
      <th>作成者</th>
      <th>更新日時</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @boards.each do |board| %>
      <tr>
        <td><%= board.title %></td>
        <td><%= board.name %></td>
        <td><%= board.updated_at.to_s(:datetime_jp) %></td>
        <td><%= link_to '詳細', board, class: 'btn btn-outline-dark' %></td>
        <td><%= link_to '削除', board, class: 'btn btn-outline-dark', method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @boards %>